.faq {
    padding: 0 1rem;

    &__title {
      padding-bottom: 1.5rem;
    }
    .faq__item {
      margin-bottom: 16px;
      border-bottom: 1px solid #EAEAEA;
      cursor: pointer;
      &:last-child {
        margin-bottom: 0;
      }
      .faq__question {
        font-weight: bold;
        padding: 0.825rem;
        background-color: #F9F9F9;
        transition: background-color 0.3s ease;
        &:hover {
          background-color: #E9E9E9;
        }
        &.active {
          background-color: #D9D9D9;
        }
      }
      .faq__answer {
        padding: 0.825rem;
        background-color: #F9F9F9;
        font-weight: 500;
        font-style: italic;
      }
    }
}








