
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem;
    background-color: #fafafa;
    margin: 0;
    padding: 0 2rem;

    &__title {
        text-align: center;
        padding: 1rem;
        font-size: 2.5rem;
      }
    &__icon {
        height: 3rem;
        cursor: pointer;
    }
}