.home {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    gap: 3rem;
    background-color:#e8f5e9a3;
    padding: .5rem;
}

.bottom {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: .5rem;
}